extends ./layout.pug

block body
  div#page-content
    h1 Oh no!
    h2 It seems there was a problem.
    p Go to our 
      a(href="https://prismic.io/docs/examples/how-to-create-an-image-gallery#?lang=node") How to Create an Image Gallery page
      | , follow the instructions to create an "article" Custom Type, and fill in an article with some content.