html {
  font-size: 100%;
}
body {
  background: none;
  color: #72767b;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing : 0.4;
  line-height: 28px;
}
a {
  color: #72767B;
  text-decoration: none;
}
p a {
  text-decoration: underline;
}
h1 {
  font-family: ‘Lora’, Serif; 
  font-size: 42px; 
  font-weight: normal; 
  color: #484D52; 
  line-height: 52px; 
  letter-spacing : 1.14;
  margin-bottom: 1rem;
}
h2, h2 a {
  margin-bottom: 1rem;
  color: #484d52;
  font-size: 32px;
  font-weight: 700;
  letter-spacing : 0.85;
  line-height: 42px;
}
h3, h3 a {
  margin-bottom: 1rem;
  Color: #484d52;
  font-size: 20px;
  font-weight: 400;
  letter-spacing : 0.52;
  line-height: 34px;
}
p {
  margin-bottom: 2rem;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
img {
  max-width: 100%;
}
#page-content {
  max-width: 880px;
  margin: 0 auto;
  padding: 50px 0;
}
.gallery {
  margin-bottom: 40px;
}
.gallery a div {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}